body{
  background-color: #EFEFEF;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.header-top-offset{
  position: absolute;
  top: -75px;
  width: 100%;
  z-index: 2;
}

.mdl-card__supporting-text{
  padding-top: 0;
}

.righto{
  color: white;
  font-weight: 1000;
  background-color: #2962FF;
  width: 100%;
  margin-bottom: 4px;
}

@media only screen and (min-width: 800px) {
  .card{
    margin: auto;
    margin-top: 15%;
    max-width: 90%;
  }
}

@media only screen and (max-width: 799px) {
  .card{
    margin: auto;
    margin-top: 10%;
    max-width: 90%;
  }
}

.imglogo{
  display: block;
  width: 150px;
  margin: auto;
  border: solid #1e8ffb 2px;
  border-radius: 50%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.97);
}

.demo-card-square{
  top: -60px;
}
.mdl-card{
  overflow: inherit;
}

.mdl-card__title{
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 85px;
  padding-bottom: 0;
  font-size: 20px;
}

.mdl-textfield__label{
  color: #888;
}

.mdl-textfield{
  padding: 20px 0;
}

.mdl-button{
  color:rgba(0,0,0,0.8);
}

.tab_btn{
  border-radius: 2px;
  box-shadow: 1px 1px #C3C3C3;
  background-color: rgb(68,138,255);
  color: white;
  border: none;
  padding: 4px;
  text-align: center;
  margin: auto;
  width: 40%;
  height: 100%;
  position: relative;
}

.btn_div{
  text-align:center;
  padding: 10px 0 4px 0;
  height: 30px;
}
