<!DOCTYPE html>
<html lang="br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/criacao_eventos.css">
    <script defer src="js/criacao_eventos.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--waterfall">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">
            <a class="mdl-navigation__link" style="font-size: 20px;" href="index.html">Voluntariza</a>
          </span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield--align-right">
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" name="sample" id="waterfall-exp">
            </div>
          </div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="index.html">Home</a>
            <a class="mdl-navigation__link" href="criacao_eventos.html">Criação de Eventos</a>
            <a class="mdl-navigation__link" href="">Perfil</a>
            <a class="mdl-navigation__link" href="">Bonificações</a>
          </nav>
        </div>
      </header>

      <main class="mdl-layout__content">
        <div class="page-content">
          <form id="evento" action="#">
            <div class="mdl-textfield mdl-js-textfield">
              <p>Nome</p>
              <input class="mdl-textfield__input" type="text" id="nome">
              <br><p>Data do Evento</p>
              <input class="mdl-textfield__input" type="date" id="dataEvento">
              <br><p>Horário Início</p>
              <input class="mdl-textfield__input" type="time" id="horaIni">
              <br><p>Horário Fim</p>
              <input class="mdl-textfield__input" type="time" id="horaFim">
              <br><p>Categoria</p>
              <select id="categoria">
                <option value="1">Idosos</option>
                <option value="2">Ação Social</option>
                <option value="3">Evento com Crianças</option>
                <option value="4">Distribuição de Alimentos</option>
              </select>
              <br><p>Descrição do Evento</p>
              <textarea form="evento" id="desc"></textarea>
              <input type="hidden" id="lati" name="lag" value="0">
              <input type="hidden" id="long" name="long" value="0">
            </div>
            <div id="mapouter"></div>
            <br>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
              Cadastrar
            </button>
          </form>
        </div>
      </main>
    </div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD80lU6FBbV1_lCp-n5w_KJD8vf1OhOu14&callback=initMap"></script>
  </body>
</html>
